# MISSION TO MARS

In [1]:
#1  Import dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import numpy as np
import time

## NASA Mars News

In [2]:
# browser setup
#executable_path = {'executable_path': 'chromedriver.exe'}
#browser = Browser('chrome')

#2  Mars News url, obtain html of Mars site   #LESSON KISS
url= 'https://mars.nasa.gov/news/'
response= requests.get(url)
soup= bs(response.text, 'html.parser')

In [3]:
#3   Get the news_title and news_p from the soup
news_title= soup.find("div", class_="content_title").text
news_p= soup.find("div", class_="rollover_description_inner").text

In [4]:
#4   Print the news_title
print(news_title)

NASA's Curiosity Mars Rover Finds a Clay Cache

In [5]:
#5  Print the news_p
print(news_p)

The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

## NASA Images

In [6]:
#6  scrape the nasa.gov site for images
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [7]:
# Results from number 6
#https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [8]:
#7  get the featured image and printe the url 
html = browser.html
soup = bs(html,'html.parser')
featured_image = soup.select('li.slide a.fancybox')
#make a list of just the data-fancybox-hrefs
img_list = [i.get('data-fancybox-href') for i in featured_image]

#combine the base url with the first img url
base_url = 'https://www.jpl.nasa.gov'
featured_image_url = base_url + img_list[0]   

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23369_hires.jpg

In [9]:
#8 close browser
browser.quit()

## Mars Weather

In [10]:
#9 Mars weather twitter. Scrape latest Mars weather tweet and save as a variable.
url= 'https://twitter.com/marswxreport?lang=en'
response= requests.get(url)
soup= bs(response.text, 'html.parser')

In [11]:
#10 #create list of weather tweets
weather_list = []
for weather_info in soup.find_all("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"):
    weather_list.append(weather_info.text.strip())

In [12]:
#11 scrape the latest Mars weather tweet and dump
weather_list

['Um @NASAJPL? You might want to check High Bay 1. Looks like Mars2020 is in my driveway. A little ISS is orbiting my front hall too.\n\nYou can park @MarsCuriosity’s twin in your garage along with 17 other spacecraft exploring Earth, Mars and beyond with SpacecraftAR https://twitter.com/nasa_eyes/status/1157014939153776640\xa0…pic.twitter.com/1Ua2U70rVK',
 'Do you have a passion for sharing the excitement of spaceflight?  @NASAJPL is in need of an on-air commentator for our live broadcasts during critical events (#Mars2020 EDL). Share the excitement and drama of spaceflight as it unfolds in real-time!\n\nhttps://jpl.jobs/jobs/2019-10860-Video-Producer-Commentator\xa0…',
 'InSight sol 233 (2019-07-23) low -98.8ºC (-145.9ºF) high -25.7ºC (-14.2ºF)\nwinds from the SE at 4.6 m/s (10.2 mph) gusting to 16.2 m/s (36.2 mph)\npressure at 7.60 hPapic.twitter.com/ksOXPg28yb',
 'InSight sol 230 (2019-07-20) low -99.3ºC (-146.8ºF) high -26.1ºC (-15.0ºF)\nwinds from the SE at 4.0 m/s (9.0 mph) gusting to 15.2 m/s (34.1 mph)\npressure at 7.60 hPapic.twitter.com/fP2WO4xxjh',
 'Apollo 11 returned home safely 50 years ago today thanks in part to some quick thinking meteorologists and the people who trusted themhttps://twitter.com/rtphokie/status/1154098438205784064\xa0…',
 'InSight sol 229 (2019-07-19) low -99.2ºC (-146.6ºF) high -24.7ºC (-12.4ºF)\nwinds from the SW at 4.0 m/s (9.0 mph) gusting to 14.8 m/s (33.0 mph)\npressure at 7.60 hPapic.twitter.com/WEjGzvCEhb',
 'InSight sol 228 (2019-07-18) low -98.7ºC (-145.7ºF) high -25.0ºC (-13.1ºF)\nwinds from the SSE at 4.2 m/s (9.3 mph) gusting to 14.5 m/s (32.4 mph)\npressure at 7.60 hPa',
 'InSight sol 227 (2019-07-17) low -100.0ºC (-148.0ºF) high -25.4ºC (-13.7ºF)\nwinds from the SE at 4.2 m/s (9.5 mph) gusting to 15.0 m/s (33.5 mph)\npressure at 7.60 hPa',
 'InSight sol 226 (2019-07-16) low -98.0ºC (-144.3ºF) high -25.9ºC (-14.7ºF)\nwinds from the SSW at 4.1 m/s (9.2 mph) gusting to 14.8 m/s (33.1 mph)\npressure at 7.60 hPa',
 'InSight sol 225 (2019-07-15) low -98.3ºC (-144.9ºF) high -25.0ºC (-12.9ºF)\nwinds from the SE at 4.2 m/s (9.5 mph) gusting to 15.0 m/s (33.7 mph)\npressure at 7.60 hPa',
 'InSight sol 224 (2019-07-14) low -100.8ºC (-149.5ºF) high -25.8ºC (-14.4ºF)\nwinds from the SSE at 4.2 m/s (9.4 mph) gusting to 14.8 m/s (33.2 mph)\npressure at 7.60 hPa',
 'InSight sol 223 (2019-07-13) low -100.8ºC (-149.4ºF) high -25.5ºC (-13.9ºF)\nwinds from the SE at 4.3 m/s (9.5 mph) gusting to 17.4 m/s (38.9 mph)\npressure at 7.60 hPa',
 'Putting a 1 ton robot on another planet takes a few peoplehttps://twitter.com/earthtoleo/status/1152463780338532352\xa0…',
 'Temps range between 250ºF and -280ºF on the lunar surface. The @WeatherChannel shares more. Nice pocket protector there @JimCantorehttps://www.youtube.com/watch?v=VHPCO-33yCU\xa0…',
 'DYK Apollo missions could only land on the Moon during a single 16 hour period each 29.5 day lunar cycle when the Sun was 5º-14º above the horizon? This enabled astronauts to make out surface features during descent. #Apollo50thpic.twitter.com/5SmfcB26Fd',
 'No pressurehttps://twitter.com/AstroStaab/status/1151554846920626176\xa0…',
 "The launch period for NASA's Mars 2020 rover opens exactly one year from today and extends through Aug. 5, 2020. Watch it’s construction livehttps://youtu.be/PaNiYPglK58",
 'InSight sol 222 (2019-07-12) low -99.7ºC (-147.5ºF) high -24.8ºC (-12.6ºF)\nwinds from the SSE at 4.2 m/s (9.4 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 7.60 hPapic.twitter.com/8Q8lyB6SjM',
 'InSight sol 221 (2019-07-11) low -99.4ºC (-147.0ºF) high -23.8ºC (-10.9ºF)\nwinds from the SSE at 4.1 m/s (9.1 mph) gusting to 14.1 m/s (31.6 mph)\npressure at 7.60 hPa',
 'InSight sol 220 (2019-07-10) low -101.2ºC (-150.2ºF) high -25.9ºC (-14.7ºF)\nwinds from the SSE at 4.1 m/s (9.3 mph) gusting to 16.0 m/s (35.8 mph)\npressure at 7.60 hPa']

In [13]:
#12 add conditional to get specific information
for tweet in reversed (weather_list):
    if tweet[:3] == "InS":
        mars_weather = tweet

In [14]:
#13 get the weather from the newest tweet
mars_weather

'InSight sol 233 (2019-07-23) low -98.8ºC (-145.9ºF) high -25.7ºC (-14.2ºF)\nwinds from the SE at 4.6 m/s (10.2 mph) gusting to 16.2 m/s (36.2 mph)\npressure at 7.60 hPapic.twitter.com/ksOXPg28yb'

## Mars Facts

In [42]:
#14  Get mars FACTS
mars_url= 'https://space-facts.com/mars/'
mars_table= pd.read_html(mars_url)
mars_table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [43]:
browser.quit()

In [45]:
#15 Convert into a dataframe
mars_df= mars_table[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [46]:
#16  clean up
mars_df.index.drop
mars_df.set_index(0, inplace=True)   # Cannot get reset of index or set or drop to function as expected. 
mars_df.index.names= [None]
mars_df.columns= ['Mars']
mars_df

                                               Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
#17 reframing into html
mars_df_html=mars_df.to_html()
mars_df_html

In [23]:
#18 Clean up of html
mars_df_html.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [24]:
#19 transforming again.
mars_html= mars_df.to_html('mars_table.html')

In [25]:
#20 creating some text for use
mars_text= mars_df.to_csv('mars.txt', index=False)
mars_text

## Mars Hemispheres

In [26]:
# 20 Visit hemispheres website through splinter module  #  W
mars_hem_url= 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
mars_hem_response= requests.get(mars_hem_url)
soup= bs(mars_hem_response.text, 'html.parser')

In [27]:
# 21 HTML Object
mars_hem= soup.find_all('a', class_='itemLink product-item')
print(mars_hem)

[<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/><div class="description"><h3>Cerberus Hemisphere Enhanced</h3></div></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/><div class="description"><h3>Schiaparelli Hemisphere Enhanced</h3></div></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/><div class="description"><h3>Syrtis Major Hemisphere Enhanced</h3></div></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/><div class="description"><h3>Valles Marineris Hemisphere Enhanced</h3></div></a>]

In [28]:
#22 finding needed information 
hem_image_urls=[]
for hem_image in mars_hem:
    im_title= hem_image.find('h3').text
    #print(im_title)
    link= "https://astrogeology.usgs.gov" + hem_image['href']
    im_request= requests.get(link)
    soup= bs(im_request.text, "html.parser")
    img_tag=soup.find("div", class_="downloads").find('ul').find('li')
    #print(img_tag)
    img_url= img_tag.a['href']
    hem_image_urls.append({"Title":im_title, "Image_url": img_url})
print(hem_image_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'Image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [29]:
browser.quit()